<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">                
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.userName)">
                     <i class="fa fa-user-circle text-success"></i> Online
                </div>     

                <div class="mb-2" *ngIf="!(presence.onlineUsers$ | async).includes(member.userName)">
                    <i class="fa fa-user-circle text-danger"></i> Offline
               </div>  

                <div>
                    <strong>Località:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Età:</strong>
                    <p>{{member.age}}</p>                    
                </div>
                <div>
                    <strong>Ultima visita:</strong>
                    <p>{{member.lastActive | timeago}}</p>                    
                </div>
                <div>
                    <strong>Iscritto dal:</strong>
                    <p>{{member.created | date: 'longDate'}}</p>                    
                </div> 
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary mr-2" (click)="addLike(member)">Like</button>
                        <button class="btn btn-success" (click)="selectTab(3)">Messaggio</button>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Riguardo {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4>Chi sono</h4>
                <p>{{member.introduction}}</p>
                <h4>Cosa cerco</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading='Interessi' (selectTab)="onTabActivated($event)">
                <h4>Interessi</h4>
                <p>{{member.interests}}</p>                
            </tab>
            <tab heading='Galleria foto' (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
            <tab heading='Messaggi' (selectTab)="onTabActivated($event)">
                <app-member-message [username]="member.userName"></app-member-message>
            </tab>
        </tabset>
    </div>
</div>
