<nav *ngIf="user.gender =='female'" class="navbar navbar-expand-md navbar-dark fixed-top female">
<nav *ngIf="user.gender =='male'" class="navbar navbar-expand-md navbar-dark fixed-top male">
<nav *ngIf="user.gender =='null'" class="navbar navbar-expand-md navbar-dark fixed-top nav-primary">

    <div class="container">
        <a class="navbar-brand homepage" routerLink='/'>App d'incontri</a>                 
            <ul class="navbar-nav mr-auto"><!--*ngIf="accountService.currentUser$ | async" Da inserire come condizione interna se serve-->
              <ng-container >
                <li class="nav-item scelte">
                  <a class="nav-link" routerLink='/members' routerLinkActive='active'>Utenti</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Like</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link messaggi" routerLink='/messages' routerLinkActive='active'>Messaggi</a>
                </li>   
                <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                  <a class="nav-link" routerLink='/admin' routerLinkActive='active'>Admin</a>
                </li> 
              </ng-container>  
              <li [hidden]="!errori" class="nav-item">
                <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errori</a>
              </li>                                     
            </ul>            

            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
              <img src="{{user.photoUrl || '/assets/user.png'}}" alt="{{user.username}}">
              <a class="dropdown-toggle text-light ml-2" dropdownToggle>{{user.knownAs || user.username | titlecase}}</a>
             <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item" routerLink="/member/edit">Modifica profilo</a>
              <div class="dropdown-divider"></div>
             <a class="dropdown-item" (click)="logout()">Logout</a>                       
             </div>                          
            </div>

            <form *ngIf="(accountService.currentUser$ | async) === null " #loginForm="ngForm" class="form-inline mt-2 mt-md-0 login" (ngSubmit)="login()" autocomplete="off">
             <!--Username--> <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2 username" 
                type="text" 
                placeholder="Username">

              <!--Password--><input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2 password" 
                type="password" 
                placeholder="Password">

              <!--Submit--><button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </form>          
    </div>        

</nav>
</nav>
</nav>
